[submodule "firmware/esp32_drive/components/micro_ros_espidf_component"]
	path = firmware/esp32_drive/components/micro_ros_espidf_component
	url = https://github.com/micro-ROS/micro_ros_espidf_component
	branch = humble
